<div class="default-page">
    <h1><%= __('app name') %></h1>
    <div class="login-box">
        <form action="">
            <input type="text" name="username" id="username">
            <input type="password" name="password" id="password">
            <button type="submit" value="Submit"><%= __('login') %></button>
        </form>
    </div>
</div>
