input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"], {
    border-radius: rem-calc(3);
}

.field {
    width: 100%;
}

small.error {
    display: none;
    height: 0;
    transition: height .5s ease;

    .show-error & {
        display: block;
    }
}